[Unit]
Description=ContactSphere Application
After=network.target

[Service]
Type=simple
User=<your_username>
WorkingDirectory=<WorkingDirectory>
# Change these ports if needed
Environment="BACKEND_PORT=9000"
Environment="FRONTEND_PORT=9090"
# Add user's local bin to PATH for uv
Environment="PATH=/home/<user>/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
# Path to the start script
ExecStart=/bin/bash <WorkingDirectory>/start.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
